@model PAPSPNEW.Models.TipoContato

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TipoContato</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefoneComer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefoneComer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Celular)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Celular)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefone1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Whatsapp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Whatsapp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPontoTuristicoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPontoTuristicoNavigation.IdPontoTuristico)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdContato">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
